.basket-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: scroll;

    .basket-item-wrapper {
        display: flex;
        flex-direction: column;
        .basket-item {
            width: 100px;
            height: 100px;
        }
    }
}

