@font-face {
    font-family: 'FugazOne';
    src: url('/fonts/fugazone-regular-webfont.woff2') format('woff2');
  }
  

.nav-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    height: 100%;
    // justify-content: center;
    align-items: center;

    img {
        margin-top: 50px;
    }

    .nav-list {
        list-style-type: none;
        padding: 0;
        >li {
            text-align: left;
            > a {
                text-decoration: none;
                color: black;
            }
        }
    }
    .basket-style {
        position: absolute;
        bottom: 0;
        font-family: 'FugazOne';

    }
}
